<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LEFT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
</head>

  <body>
      <ul id="navi" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="newsletter/ sign_up">Newsletter</a>
    </li>
      </ul>
<div class="wrapper">
    <div class="main-container">
      <div id="news" class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" id= "halp"><h1 id="halp"class="font-effect-anaglyph">LEFT</h1></div>
        <div class="col-lg-3"></div>
      <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id= "intro" ><h6 id="intro">A Story-driven, Retro-style, RPG.</h6></div>
            <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-responsive" src="{% static "images/website_photo_1.PNG" %}" alt="">
          </div>
          <div class="col-sm-6">
            <img class="img-responsive" src="{% static "images/website_photo_2.PNG" %}" alt="">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h6 id= "text">Playing as our protagonist John, set in a war-ravaged dystopian realty, you will need to overcome a trauma.</h6>
          </div>
          <div  class="col-sm-6">
            <h6 id= "text">A trauma that has been produced by tragic events during the war.</h6>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-sm-6">
            <img class="img-responsive" src="{% static "images/WEBSITE_PHOTO_3.PNG" %}" alt="">
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-sm-6">
            <h6 id= "text">Don't let it overwhelm you.. It will eat you alive.</h6>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id= "download-text" ><h6 id= "text">Take care of the ones closest to you. Because if YOU don't, Who will?</h6></div>
            <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id= "download" ><button onclick="window.location.href = 'https://w3docs.com';">Download</button></div>
            <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
